html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans',
  sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: $primary;
}

main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.section {
  padding: 100px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.text-color {
  color: $secondary;
}

.title {
  font-family: 'Roboto',
  sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
}

.subtitle {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.backdrop {
  position: fixed;
  background-color: rgba($grey, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 10;
  backdrop-filter: blur(1px);
  transition: opacity 0.5s;

  &.hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: scale(0);
    }
  }
}

.modal {
  position: relative;
  margin: auto;
 padding: 80px;
  transform: scale(1);
  background-color: $light;
  border-radius: 6px;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.12);
  transition: transform 0.5s;

  &__box {
    max-width: 360px;
    width: 100%;
  }

  &__text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
  }

  &__input {
    margin-bottom: 16px;
    background-color: $bg-accent;
  }

  &__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(rgba($primary, 0.3), 0.1);
    transition: border-color 0.4s, border 0.4s,
      box-shadow 0.4s, ;

    &:focus {
      border-color: $accent;
    }

    &:hover {

      .modal__icon {
        fill: $accent;
      }
    }

    &:active {
      border: 0px solid rgba($primary, 0.1);
      box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.12);

      .modal__icon {
        fill: $accent;
      }
    }
  }

  &__icon {
    fill: $primary;
    transition: fill 0.3s;
  }
}

.form {

  &__input {
    display: block;
    width: 100%;
    padding: 8px 20px;
    font-size: 17px;
    text-transform: capitalize;
    color: $primary;
    border-radius: 12px;

    &::placeholder {
      font-size: 15px;
      color: $grey;
    }

    &--textarea {
       min-height: 60px;
       max-height: 240px;
       resize: vertical;
    }
  }

  &__button {
    width: 100%;
    padding: 12px 56px;
    font-size: 15px;
    font-weight: 700;
    background-color: $secondary;
    color: $light;
    border-radius: 12px;

    &--accent {
      background-color: $accent;
    }
  }
}