.logo {
  
  &:focus {
    outline: solid 1px $secondary;
    border-radius: 4px;
  }
}
.button {
  padding: 20px 46px;
  border-radius: 12px;
  border: 1px solid $secondary;
  font-weight: 700;
  background-color: $light;
  color: $primary;
  transition: border-color 0.4s,
  background-color 0.4s, color 0.4s;

  &:focus {
    border-color: $accent;
  }

  &:hover {
    background-color: $accent;
    color: $light;
  }

  &:active {
    background-color: $secondary;
    color: $light;
  }
}