.footer {
  padding-top: 100px;
  background-color: $primary;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
 
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__item:not(:last-child) {
    margin-right: 80px;
  }

  &__link {
    display: block;
    font-family: 'Roboto',
    sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: $light;
    transition: outline 0.4s,
    color 0.4s;

     &:focus {
       outline: solid 1px $light;
       outline-offset: 4px;
       border-radius: 4px;
     }

     &:hover {
       color: $accent;
     }

     &:active {
       color: $secondary;
     }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__bottom-item:not(:last-child) {
    margin-right: 40px;
  }

   &__text {
    display: block;
    color: rgba($light, 0.5);
   }

  &__bottom-link {
    display: block;
    color: rgba($light, 0.5);
    transition: outline 0.4s,  color 0.4s;

    &:focus {
      outline: solid 1px $light;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $secondary;
    }
  }

}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: outline 0.4s;

    &:focus {
      outline: solid 1px $light;
      outline-offset: 2px;
      border-radius: 4px;
    }

    &:hover {
      .social__icon {
        fill: $accent;
      }
    }

    &:active {
      .social__icon {
        fill: $accent;
      }
    }
  }

  &__icon {
    fill: $light;
    transition: fill 0.4s;
  }
}