.header {
  background-color: $light;
  padding: 16px 0;
  border-bottom: 1px solid $grey;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding-bottom: 10px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-right: 60px;
  }

  &__list {
    display: flex;
    
  }

  &__item:not(:last-child) {
    margin-right: 60px;
  }

  &__link {
    font-family: 'Roboto',
    sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    color: $primary;
    transition: outline 0.4s, color 0.4s;

    &:focus {
      outline: solid 1px $secondary;
      outline-offset: 4px;
      border-radius: 4px;
    }

    &:hover {
      color: $secondary;
    }

    &:active {
      color: $accent;
    }

    &.current {
      color: $secondary;
    }
  }



}