.hero {

  &__inner {
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
    padding: 110px 0;
    margin-bottom: 50px;
  }

  &__content {
    max-width: 600px;
    width: 100%;
  }

  &__title {
    font-family: 'Roboto',
      sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    color: $primary;
    margin-bottom: 30px;
  }

  &__text {
    font-family: 'Roboto',
      sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 60px;
  }

  &__links {
    display: flex;
  }

  &__button:not(:last-child) {
    margin-right: 30px;
  }

  &__partners {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  &__company:not(:last-child) {
    margin-right: 50px;
  }

  &__image {
    object-fit: contain;
  }

  &__numbers {
    background-color: $bg-accent;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 970px;
    width: 100%;
    padding: 54px 0;
    margin: 0 auto;
  }

  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__number {
    font-family: 'Roboto',
      sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 3px;
  }

}

.about {
  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    max-width: 840px;
    width: 100%;
    margin: 0 auto 80px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 48%;
  }

  &__content {
    margin-left: auto;
  }

  &__list {
    max-width: 520px;
    width: 100%;
    margin-bottom: 60px;
  }

  &__item {
    position: relative;
    padding-left: 16px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 20px;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $secondary;
    }
  }

  &__headline {
    font-family: 'Roboto',
      sans-serif;
    font-size: 36px;
    color: $secondary;
  }

}

.adv {
  background-color: $bg-accent;
   
  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: calc((100% - 3 * 30px) / 4);
    padding: 140px 20px 30px;
     background-color: $light;
     border-radius: 20px;
     text-align: center;

     &::before {
      position: absolute;
      content: '';
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
     }

     &--goal::before {
      background-image: url('../images/decor/goal.svg');
     }

     &--result::before {
       background-image: url('../images/decor/result.svg');
     }

     &--team::before {
       background-image: url('../images/decor/team.svg');
     }

     &--start::before {
       background-image: url('../images/decor/start.svg');
     }


  }

  &__headline {
    font-family: 'Roboto',
    sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }


}